.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 100px;
  margin-bottom: 5px;
  font-size: 2.5rem;
  color: #ffd166;
}
small {
  margin-bottom: 50px;
  color: #fff3b0;
}
.labels {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: rgb(26, 25, 25);
  height: 70px;
  border-radius: 50px;
}
.labels li {
  margin: 10px;
}

.set-pomodoro-position {
  display: flex;

}
